# Visual Studio dirs
/Release/**
/Debug/**

# Visual Studio preferences
tjungblut-math++.v11.suo

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a